src/umlc/codeGeneration/jmatter/jmatterClassAnnotations.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XML Spy v3.5 NT (http://www.xmlspy.com)-->
<xsd:schema xmlns:fg="http://www.FGolubov.com/XMLEditor" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xsd:element name="jmatterClassAnnotations">
		<xsd:complexType>
			<xsd:attribute name="title"          type="xsd:string"/>
		  <xsd:attribute name="icon16"         type="xsd:aniURI"/>
		  <xsd:attribute name="icon32"         type="xsd:aniURI"/>
			<xsd:attribute name="plural"         type="xsd:string"/>
			<xsd:attribute name="color"          >
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value="0x\d{4}" />
					</xsd:restriction>
				</xsd:simpleType>
      </xsd:attribute>
			<xsd:attribute name="search"         type="xsd:string"/>
      <xsd:attribute name="no_class_list"  type="xsd:string" fixed="true">
        	<xsd:annotation>
            <xsd:appinfo>
                    <fg:node-info message="Set to false if you dont want this class to show in the navigation bar.">
                    </fg:node-info>
            </xsd:appinfo>
        	</xsd:annotation>
      </xsd:attribute>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
