src/umlc/codeGeneration/jmatter/jmatterAttributes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XML Spy v3.5 NT (http://www.xmlspy.com)-->
<xsd:schema xmlns:fg="http://www.FGolubov.com/XMLEditor" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
<xsd:element name="attributes">
 <xsd:complexType>
 	<xsd:sequence>
		<xsd:element name="attribute" minOccurs="0" maxOccurs="unbounded">
			<xsd:complexType>
			 <xsd:sequence>
        <xsd:element name="annotations" minOccurs="1" maxOccurs="1">
			  		<xsd:complexType>
							<xsd:attribute name="label"       type="xsd:string" />
							<xsd:attribute name="displaysize" type="xsd:nonNegativeInteger"/>
							<xsd:attribute name="colsize"     type="xsd:nonNegativeInteger"/>
							<xsd:attribute name="identity"    type="xsd:string" fixed="true"/>
							<xsd:attribute name="required"    type="xsd:string" fixed="true"/>
							<xsd:attribute name="flatten"     type="xsd:string" fixed="true"/>
							<xsd:attribute name="tab"         type="xsd:string" fixed="true"/>
							<xsd:attribute name="icon"     	type="xsd:string" fixed="true"/>
            </xsd:complexType>
				  </xsd:element> 
         </xsd:sequence>
				<xsd:attribute name="name"         use="required">
					<xsd:simpleType>
            <xsd:annotation>
                <xsd:appinfo>
                    <fg:node-info exposed="true"/>
                </xsd:appinfo>
            </xsd:annotation>
						<xsd:restriction base="xsd:string">
							<xsd:minLength value="1" />
						</xsd:restriction>
					</xsd:simpleType>
        </xsd:attribute>
      	<xsd:attribute name="type"          default="StringEO"    use="required">
					<xsd:simpleType>
        		<xsd:annotation>
            	<xsd:appinfo>
                    <fg:node-info exposed="true" message="Set the JMatter type of this attribute.">	
                    </fg:node-info>
            	</xsd:appinfo>
        		</xsd:annotation>
						<xsd:restriction base="xsd:NMTOKEN">
							<xsd:enumeration value="StringEO"/>
							<xsd:enumeration value="DateEO"/>
							<xsd:enumeration value="TextEO"/>
							<xsd:enumeration value="IntEO"/>
							<xsd:enumeration value="BooleanEO"/>
							<xsd:enumeration value="BusinessContact"/>
							<xsd:enumeration value="Business"/>
							<xsd:enumeration value="CharEO"/>
							<xsd:enumeration value="ChoiceEO"/>
							<xsd:enumeration value="Contact"/>
							<xsd:enumeration value="DateEO"/>
							<xsd:enumeration value="DateTime"/>
							<xsd:enumeration value="DateWithAge"/>
							<xsd:enumeration value="DetailedPerson"/>
							<xsd:enumeration value="Email"/>
							<xsd:enumeration value="EmploymentInfo"/>
							<xsd:enumeration value="FileEO"/>
							<xsd:enumeration value="FileWEO"/>
							<xsd:enumeration value="FloatEO"/>
							<xsd:enumeration value="Folder"/>
							<xsd:enumeration value="ImgEO"/>
							<xsd:enumeration value="IntEO"/>
							<xsd:enumeration value="Logo"/>
							<xsd:enumeration value="LongEO"/>
							<xsd:enumeration value="LoggedEvent"/>
							<xsd:enumeration value="Name"/>
							<xsd:enumeration value="Note"/>
							<xsd:enumeration value="Password"/>
							<xsd:enumeration value="Percent"/>
							<xsd:enumeration value="Person"/>
							<xsd:enumeration value="Photo"/>
							<xsd:enumeration value="SSN"/>
							<xsd:enumeration value="StringEO"/>
							<xsd:enumeration value="TermsEO"/>
							<xsd:enumeration value="TextEO"/>
							<xsd:enumeration value="TimeEO"/>
							<xsd:enumeration value="TimeInterval"/>
							<xsd:enumeration value="TimeSpan"/>
							<xsd:enumeration value="URI"/>
							<xsd:enumeration value="USAddress"/>
							<xsd:enumeration value="USDollar"/>
							<xsd:enumeration value="USPhone"/>
							<xsd:enumeration value="USZipCode"/>
						</xsd:restriction>
					</xsd:simpleType>
      	</xsd:attribute>
			</xsd:complexType>
		</xsd:element>
	</xsd:sequence>
	</xsd:complexType>
</xsd:element>
</xsd:schema>
